body{
    font-family: 'Crimson Text', serif; ,'Times New Roman', serif;
    background-color: #F2FFFC; 
    font-size: 120%;
    line-height: 1.5;
    }

h1{
    font-size: 3em;
    text-transform: uppercase;
    text-shadow: 3px 3px #000;
}

h2 {
    font-family: 'Open Sans Condensed', "Arial", sans-serif;
}
.titulo-principal{
    font-family: 'Open Sans Condensed', "Arial", sans-serif;
    text-align: center;
    color: #FFF;
    background-color: #851944;
    padding: 20px;
    border-bottom: .2em solid black;
}

.subtitulo-texto{
       font-size: 1.5em;
        clear: both;
}

.container{
    width: 80ch;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
}

main a{
    color:#851944;
}

p{
    text-align: justify;
    margin: 20px 0;
    }

strong{
    font-weight: bold;
}

em{
    font-style: italic;
}
    

.navegacao-site {
    text-align: center;
    background-color: #3C1D3D;
    color: #F2FFFC;
    padding: 1em;   
    position: absolute;
    top: 15.5em;
    right: 0;
    width: calc(0.9 * 300px);
}

.navegacao-site a {
    color: inherit;
    font-family: "Open Sans Condensed", "Arial", sans-serif;
    text-transform: lowercase;
}

.navegacao-site h1{
    font-size: 1.5em;
    margin-bottom: 1em;
}

.img-navegacao, .navegacao-site{
    box-sizing: border-box;
    border-left: 10px solid #000;
    border-bottom: 10px solid #000;
}

.img-navegacao{
    position: absolute;
    top: 0;
    right: 0;
    height: 300px;
}
aside{
    clear: right;
}

main{
    float: left;
    width: calc(100% - 0.9 * 300px);
    padding-bottom: 4em;
}

.rodape{
    background-image: radial-gradient(ellipse at left bottom, rgba(60, 29, 61, .8), rgba(60, 29, 61, .8) 65%, black 65%, black 70%, transparent 70%, transparent);
    background-size: 25% 100%;
    background-repeat: no-repeat;
    color: #F2FFFC;
    clear: both;
    padding: 1em;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
}     

.menu-navegacao{
    list-style-type: none;
    text-transform: lowercase;
}

aside a {   
    color: inherit;
    font-family: "Open Sans Condensed", sans-serif;
}

aside h1{   
    font-size: 1.5em;
    margin-bottom: 25px;
}

.midias-sociais li{
    display: inline-block;
}

.midias-sociais a{
    width: 40px;
    height: 40px;
    display: inline-block;
    text-indent: -9999px;
    position: relative;
}
.midias-sociais a:hover::after,
.midias-sociais a:focus::after{
    content: attr(data-tooltip);
    position:absolute;
    top:100%;
    right: 0px;
    text-indent: 0;
    width: 300%;
    background-color: black;
    font-size: .75em;
}
.midias-sociais a:hover::before,
.midias-sociais a:focus::before{
    content: '';
    width: 1em;
    height: 1em;
    background-color: black;
    position: absolute;
    transform: translateY(.5em) rotate(45deg);
    top: 55%;
    left: 25%;
}
.github{
    background-image: url(../img/github.png);
}

.twitter{
    background-image: url(../img/twitter.png);
}

.linkedin{
    background-image: url(../img/linkedin.png);
}
main a:hover,
main a:focus,
footer a:hover,
footer a:focus{
    color: red;
}
nav a:hover,
nav a:focus{
    color: pink;
}
